@import '../../../common/styles/sass/mixins.scss';
@import '../../../common/styles/sass/variables.scss';
.newContainer {
  position: relative;
  margin: 50px;
  // top: 0;
  // left: 0;
  .icon {
    // position: absolute;
    // top: 111px;
    margin: 0 auto;
    display: flex;
    border-radius: 50%;
    border: 3px solid $borderSkillColor;
    overflow: hidden;

    & img {
      width: 150px;
      background-color: lighten($secondBackgroundColor, 15%);
    }
  }

  animation: skillMovesEffect 5s linear 0s infinite alternate;
}

@keyframes skillMovesEffect {
  0% {
    @include skillMoves();
  }
  10% {
    @include skillMoves();
  }
  20% {
    @include skillMoves();
  }
  30% {
    @include skillMoves();
  }
  40% {
    @include skillMoves();
  }
  50% {
    @include skillMoves();
  }
  60% {
    @include skillMoves();
  }
  70% {
    @include skillMoves();
  }
  80% {
    @include skillMoves();
  }
  90% {
    @include skillMoves();
  }
  100% {
    @include skillMoves();
  }
}
