@import '../../../common/styles/sass/mixins.scss';
@import '../../../common/styles/sass/variables.scss';

.skill {
    @include itemBlock(200px, 150px);

    position: relative;
    margin-top: 150px;
    border-radius: 3px;
    
    padding: 10px;
    @include shadowBox();

    @include max-bp('mini') {
        
        margin: 15vh 0;
    }

    & h2 {
        margin-top: 1.2em;
    }

    .icon {
        position: absolute;
        top: -7.5em;
        margin: 0 auto;
        display: flex;
        border-radius: 50%;
        border: 3px solid cadetblue;
        overflow: hidden;

        & img{
            width: 150px;
            background-color: lighten($secondBackgroundColor, 15%);
        }
    }
    .description {
        
        text-align: center;
    }  
}
