@import '../../../common/styles/sass/mixins.scss';

.project {
    @include itemBlock(300px, 350px);
    // width: 300px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // margin: 10px;
    // border: 2px solid orange;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px white;
    background-color: rgb(54, 54, 54);
    color: azure;

    
    .projectPictureBlock {
        position: relative;
        width: 100%;
        height: 210px;
        border-radius: 3px;
        background-color: cadetblue;
        .projectLink {
            position: absolute;
            left: 100px;
            top: 90px;
            width: 100px;
            background-color: crimson;
            text-align: center;
            text-decoration: none;
            color: white;
            opacity: .5;
        }
    }

    .descriptionTitle {
        position: relative;
        outline: none;
        z-index: 0;
        padding-bottom: 5px;
        cursor: pointer;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
            background-color: beige;
            z-index: -1;
            text-decoration: underline;
        }
    }
    .projectDescription {
        text-align: center;
       
    }
}


