
.navContainer {

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 20px;
    color: ghostwhite;
    
    border-radius: 2px;

    .navLink {
        display: flex;
        justify-content: center;
        align-items: center;
      min-width: 110px;
      min-height: 40px;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     border-radius: 5px;
      
      cursor: pointer;

      &:hover {
          transform: rotateZ(360deg);
          transition: all 0.5s ease 0s;
          color: gold;
        // background-color:rgba($color:  darkgray, $alpha: 0.9);
      }

    }
    .active {
        text-decoration: underline;
    }
    .scrollToUp{
        position: fixed;
        bottom: 57px;
        right: 15px;
        width: 33px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        border-radius: 50%;
        
        
        font-size: 35px;
        z-index: 50;
    }

}

