
.navContainer {
    width: 250px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    color: ghostwhite;
    border: 1px solid;
    border-radius: 2px;
    .navContainer a {
        text-decoration: none;
        color: ghostwhite;
    }

    .scrollToUp{
        position: fixed;
        bottom: 57px;
        right: 15px;
        width: 33px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        border-radius: 50%;
        
        
        font-size: 35px;
        z-index: 50;
    }

}

