@import '../../common/styles/sass/mixins.scss';
@import '../../common/styles/sass/variables.scss';

.contactsFormContainer {
    position:relative;
    min-height: 550px;
    margin-top: 50px;
    margin-bottom: 130px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    // font-size: 1.2em;
    
    background-color: $secondBackgroundColor;
    @include shadowBox(2);
    
    & label {
      margin-top: 20px;
    }
    @include adaptabilityWidth(100%);
    & input {
      height: 50px;
      font-size: 1em;
      
      @include adaptabilityWidth();
    }
    & textarea {
      height: 150px;
      font-size: 1.1em;
      @include adaptabilityWidth();
    }

    button {
      position: absolute;
      bottom: -110px;
      padding: 15px 35px;
      border-radius: 5px;
      font-size: 1.1em;
      cursor: pointer;

      &:hover {
          @include shadowBox(1.3);
      }
    }
  }
  
