@import '../../common/styles/sass/mixins.scss';

.footerBlock {
@include templatePageBlock($minHeight:40vh);
   
    color: darkolivegreen;
    .footerContainer {

        @include templatePageContainer();

        .infoBlock{
            width: 400px;
            margin-bottom: 0.2em;
            padding: 2em;
            border-radius: 0.3em;
            background-color: rgb(152, 153, 152);

            .infoRow {
               
                display: flex;
                padding: 0.5em 0;

                @include max-bp('mini') {

                    flex-direction: column;
                }

                .infoRowTitle {
                    flex: 1;
                }
                .infoRowValue{
                    flex: 2;
                }
            
            }

            @include max-bp('mini') {

                width: 250px;
                padding: 1em;
            }
        }
       
        .footerNav {

            @include templatePageContainer(row);

            // width: 80%;
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // align-items: center;
            // justify-content: space-around;

            // border-radius: 3px;
            padding-top: 0;
            border-radius: 0.3em;
            background-color: rgb(152, 153, 152);

             @include max-bp('mini') {
                 width: 100%;
             }
            .link {
                // width: 77px;
                // height: 77px;
                margin: 3px;
               // background-color: grey;

                & img{
                    width: 77px;
                    height: 77px;
                    cursor: pointer;
                }
            }

        }
        .footerEnd {

            font-size: 20px;
        }

    }
}







