@import '../../common/styles/sass/mixins.scss';
@import '../../common/styles/sass/variables.scss';

.footerBlock {
@include templatePageBlock($minHeight:40vh);
    font-size: 1.1em;
    color: darkolivegreen;
    .footerContainer {

        @include templatePageContainer();

        .infoBlock{
            width: 400px;
            margin-bottom: 0.2em;
            padding: 2em;
            border-radius: 0.3em;
            background-color: lighten($generalBackgroundColor, 50%);

            .infoRow {
               
                display: flex;
                padding: 0.5em 0;

                @include max-bp('mini') {

                    flex-direction: column;
                }

                .infoRowTitle {
                    flex: 1;
                }
                .infoRowValue{
                    flex: 2;
                }
            
            }

            @include max-bp('mini') {

                width: 250px;
                padding: 1em;
            }
        }
       
        .footerNav {

            @include templatePageContainer(row);
            padding-top: 0;
            border-radius: 0.3em;
            background-color: lighten($generalBackgroundColor, 50%);;

             @include max-bp('mini') {
                 width: 100%;
             }
            .link {
               
                margin: 0.2em;
               

                & img{
                    width: 77px;
                    height: 77px;
                    cursor: pointer;
                }
            }

        }
        
    }
}







