
.projectsBlock {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: khaki;
}

.projectsContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 3px;
}


.allProjects {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

//.project {
//    width: 300px;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    margin: 0 auto;
//    margin-bottom: 5vh;
//    border: 2px solid orange;
//    border-radius: 3px;
//    background-color: burlywood;
//    color: azure;
//
//}
//
//.projectPictureBlock {
//    position: relative;
//    width: 100%;
//    height: 200px;
//
//    border-radius: 3px;
//    background-color: cadetblue;
//}
//
//.projectPicture {
//    width: 100%;
//    height: 100%;
//}
//
//.projectLink {
//
//    position: absolute;
//    left: 100px;
//    top: 90px;
//    width: 100px;
//    background-color: crimson;
//    text-align: center;
//    text-decoration: none;
//    color: white;
//    opacity: .5;
//}
//
//
//.projectDescription {
//    text-align: center;
//    background-color: grey;
//}