@import '../../styles/sass/mixins.scss';

.title {
  @include sideNamePage();
  

  @include max-bp('small') {
    position: static;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);

    &.titleMain{
      padding-bottom: 150px;
      writing-mode: tb-rl;
      transform: rotate(180deg);
    }

  };
  @include max-bp('mini') {
    font-size: 1.8em;
    &.titleMain {
      font-size: 2.2em;
    }
  }

  text-shadow: 5px 5px  5px rgb(124, 124, 124);
  &.titleMain {
    animation: titleEffect 1s ease 0.5s;
  }

}

@keyframes titleEffect {
  0% {
    @include transformTitle();
  }
  10% {
    @include transformTitle(1.3, 1.7);
  }
  20% {
    @include transformTitle();
  }
  30% {
    @include transformTitle(1.1, 1.4);
  }
  40% {
    @include transformTitle();
  }
  50% {
    @include transformTitle(0.4, 0.7);
  }
  60% {
    @include transformTitle();
  }
  70% {
    @include transformTitle(1.1, 1.6);
  }
  80% {
    @include transformTitle();
  }
  90% {
    @include transformTitle(1.1, 1.3);
  }
  100% {
    @include transformTitle();
  }
}
