@import '../../styles/sass/mixins.scss';

.title {
  @include sideNamePage();

  @include max-bp('small') {
    position: static;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);

    &.titleMain{
      transform-origin: bottom;
      writing-mode: tb-rl;
      transform: rotate(180deg);
    }
  };

  text-shadow: 5px 5px  5px rgb(124, 124, 124)
}
