@import '../../common/styles/sass/mixins.scss';

.removeWorkBlock {

  @include templatePageBlock($minHeight:40vh);
  
  .removeWorkContainer {

    @include templatePageContainer();
   
    .title {
      text-align: center;
      line-height: 1.3em;
      
    }

    .linkOffRemoveWork {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bolder;
      font-size: 35px;
      margin-bottom: 25px;
      padding: 10px;
      border: 2px solid lightskyblue;
      border-radius: 5px;
      background-color: powderblue;
      text-decoration: none;

      //box-shadow:0 0 18px 10px rgba($color: #dbdbdb, $alpha: 1.0);
      cursor: pointer;
      color: $textColor;
      @include shadowBox(2);

      &:hover {
        color: invert($textColor, 100%);
      }
    }


  }
  &:hover{
    filter: invert(100%);
  }

}




