@import '../../common/styles/sass/mixins.scss';


.mainBlock {
  
  @include templatePageBlock();
  // padding-left: 15px;
  .mainContainer {
   
    @include templatePageContainer(row);

    @include max-bp('mini') {
      padding-top: 155px;
      margin-right: 10px;
      justify-content: flex-end;
    }

    .info {
      
      border-radius: 3px;
    
      @include max-bp('small') {
        margin-right: 10px;
        min-width: 200px;
      }
    }

    .photo {
      width: 230px;
      height: 350px; 
      border-radius: 0 30px 30px 0;
      transition: width 2s;
      opacity: 0.97;
      z-index: 30;

      @include shadowBox(2.5)
    }
  }
}

