
.mainBlock {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: seashell;

  .mainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;

    .info {
      margin-top: 5vh;
      border-radius: 3px;
      background-color: ghostwhite;
    }

    .photo {
      width: 200px;
      height: 250px;
      margin-top: 5vh;
      border: 1px solid;
      border-radius: 3px;

    }

  }
}

