.preloaderContainer {

  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translateX(-50%) translateY(-50%);
  border: solid 3px firebrick;
  border-radius: 5px;
  z-index: 500;

  &::after {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    background-color: cadetblue;
    z-index: 499;
  }
}
