@import './common/styles/sass/mixins.scss';
@import './common/styles/sass/variables.scss';

.app {
  &>:nth-child(even) {
    background-color: $evenBackgroundColor;
  }
}

.modalBox {
  width: 300px;
  min-height: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba($color: #a9e9b9, $alpha: 0.7);
  border-radius: 3%;
  color: aliceblue;
  z-index: 500;

  & button{

    width: 150px;
    height: 50px;
  }

  @include max-bp('small') {
    width: 250px;
    padding: 10px;
  }
}