@use 'sass:map';
@use 'sass:color';

@import './function.scss';
@import './variables';

@mixin text($fontSize: 1.2em, $fontFamily: 'Arial, sans-serif') {
  font-family: $fontFamily; //'Arial', 'sans-serif'
  font-size: $fontSize;  //16px;
  line-height: 1.2em;
  color: setColor($generalBackgroundColor, 95%, 70);
}

// mixin for adaptability 
@mixin max-bp($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) { 
    @content
  }
}

//adaptability settings width

@mixin adaptabilityWidth($miniWidth:95%) {
  width: 80%;
  @include max-bp('small') {
    width:90%;
    
  }
  @include max-bp('mini') {
    width: $miniWidth;
  }
}

//page block template 

@mixin templatePageBlock($minHeight:100vh) {
  position: relative;
  min-height: $minHeight;
  display: flex;
  padding-bottom: 20px;
  background-color: $generalBackgroundColor;

  @include text();
}

// page container template

@mixin templatePageContainer($flexDirection:column) {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: $flexDirection;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  
  

  @include max-bp('strech') {
    width: 90%;
   
    line-height: 1.2em;
  }

  @include max-bp('mini') {
    width: 95%;
  }

}

//  template 'box for items, item-block'

@mixin itemsBox {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10vh;
  
}

@mixin itemBlock($width, $minHeight: 300px) {
    min-height: $minHeight;
    width: $width;
    margin: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: $secondBackgroundColor;

    @include max-bp('mini') {
      max-width: 280px;
      margin: 20px 0;
  }
}

@mixin sideNamePage{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;  
  display: flex;    
  flex-flow: row nowrap;   
  justify-content: center;
  align-items: center;
  width: calc((100vw - 27.875em) / 2);
  min-width: 1.36em;
  max-height: 100%;
  margin: 0;
  font-size: 2.5em;
  font-weight: 900;
  line-height: 1em;
  text-transform: uppercase;
  writing-mode: tb-rl;
  text-align: center;
  transform: rotate(180deg);
}

@mixin shadowBox($n: 1) {

  box-shadow:0 0 13px*$n 7px*$n rgba($color: color.invert($generalBackgroundColor, 100%), $alpha: 0.9);
}

@mixin transformTitle($x: 1,$y: 1, $degAngy: 180deg) {
  transform: scale($x, $y) rotate($degAngy);
}

// animation for main background

@mixin mainBackgroundAnime($x, $y) {
  transform: translate($x, $y)
}
