@use 'sass:color';


$generalBackgroundColor: rgb(46, 46, 46);
$evenBackgroundColor: setColor($generalBackgroundColor, 3%);
$textColor: setColor($generalBackgroundColor, 95%, 70);
$secondBackgroundColor: setColor($generalBackgroundColor, 13%);
$footerColor: rgb(84, 107, 45);
$borderSkillColor: rgb(95, 158, 160);


$breakpoints: (
  strech: 1020px,
  small: 800px,
  mini: 500px,
)
