@use 'sass:color';




$textColor: #fff;
$primaryColor: rgba(56, 56, 56, 0.667);
 
$generalBackgroundColor: rgb(32, 32, 32);
$evenBackgroundColor: #2b2b2b;

$breakpoints: (
  strech: 1020px,
  small: 800px,
  mini: 500px,
)