@import '../../common/styles/sass/mixins.scss';


.navContainer {

  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 430px;
  color: ghostwhite;
  z-index: 120;
  border-radius: 2px;

  @include max-bp('strech') {
    margin-left: 330px;
  }

  @include max-bp('small') {
    margin-top: 10%;
    margin-bottom: 50px;
    flex-direction: column;
    // align-items: flex-end;
    
  }
  @include max-bp('mini') {
    margin-top: 25%;
  }
  .navLink {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 110px;
    min-height: 40px;
    font-size: 1.8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    cursor: pointer;

    @include max-bp('small') {
      margin-right: 20px;
      justify-content: flex-end;
      font-size: 2em;

      &:hover{
        transform: none !important;

      }
      
    }

    &:hover {

      transform: scaleY(150%);
      transition: all 0.5s ease 0s;

    }



  }

  .active {
    transform: scaleY(150%);
  }


  @include max-bp('mini') {}

}

